# Dependências
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ambiente
# .env
# .env.*
# !.env.example

# Testes
coverage
__tests__
*.spec.js
*.test.js

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
logs
*.log 